.release-heading {
    background-color: #30c3f6;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    -webkit-text-stroke: 0.5px white;
}

.movie-imgs {
    display: flex;
    justify-content: center;
    height: 40vh;
    margin: 2.5rem;
    gap: 10px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: all .3s;
}

.movie-imgs:hover {
    transition: scale 0.4s;
}

.movie-imgs img:nth-child(1):hover {
    scale: 1.2;
    cursor: pointer;
}

.movie-imgs img:nth-child(2):hover {
    scale: 1.2;
    cursor: pointer;
}

.movie-imgs img:nth-child(3):hover {
    scale: 1.2;
    cursor: pointer;
}

.movie-imgs img:nth-child(1) {
    transform: rotateY(20deg);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.movie-imgs img:nth-child(2) {
    transform: rotateZ(-1 deg);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.movie-imgs img:nth-child(3) {
    transform: rotateY(-20deg);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.movie-imgs img {
    width: auto;
    height: auto;
}

.border-blue-radius-container {
    margin: 0 2rem;
}

.border-blue-radius {
    padding: 1.4rem;
    background-color: #30c3f6;
    margin-top: 10rem;
    border-radius: 10rem;
}

.product-card-container-main {
    margin: 8rem 0px;
}

.product-card-container-main h1 {
    padding-left: 10rem;
    margin: 2rem;
}

.product-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 5rem;
}

.product-card-images {
    display: flex;
    flex-direction: column;
}

.product-card-images img {
    width: 100%;
    max-height: 16rem;
    height: auto;
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    max-width: 16rem;
    transition: scale 0.4s;
    margin-bottom: 1rem;
}

.product-card-images img:hover{
    scale: 1.1;
    cursor: pointer;
}

.product-card-discription {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.3rem;
    width: 100%
}

.product-rating span {
    background-color: green;
    padding: 0.1rem 0.8rem;
    border-radius: 0.2rem;
    color: #ffff;
}

.product-price {
    display: flex;
    gap: 0.6rem;
    justify-content: flex-start;
}

.actual-price {
    color: #878787;
    text-decoration: line-through;
    font-size: 0.98rem;
}

.percent-off {
    font-size: 0.98rem;
    color: green;
    font-weight: bold;
}

.loader {
    width: 100%;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
    padding-bottom: 8px;
    background: linear-gradient(currentColor 0 0) 0 100% / 0% 3px;
    animation: l2 4s linear infinite;
    position: relative;
}

.loader::before {
    content: ". . .";
}

.loader::after {
    content: ". . .";
    position: absolute;
    right: 0;
}

.back-to-top {
    height: 10vh;
    background-color: #eee;
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.6rem;
}